body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 50px 140px 0;
}

.banner-img {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('resources/banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    border-radius: 16px;
}


.banner-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-text h2 {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    color: #FFF;
    margin-bottom: 20px;
}

.banner-text p {
    font-size: 32px;
    font-weight: 400;
    color: white;
    opacity: 0.8;
}



/* Off section styles */
.off-section {
    margin-top: 100px;
    text-align: center;
    padding: 50px 0;
}

.off-section-img {
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    position: absolute;
}


.off-section h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    text-align: center;
}


.off-section p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.off-section h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}




/* Welcome section styles */
main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.welcome-section {
    text-align: left;
    padding: 50px 0;
}


.welcome-section-img {
    position: relative;
    width: 100%;
    height: auto;
    background: url('resources/vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;

}

.welcome-section-img::before {
    content: '';
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

}

.welcome-section-content {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;

}

.welcome-section-inner h1 {
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 20px;

}

.welcome-section-inner p {
    width: 75%;
    margin: 0;
    font-weight: normal;
    font-family: Inter;
    color: rgba(255, 255, 255, 0.80);
    line-height: 30px;
}

.welcome-section-inner button {
    /* color: #FFF; */

    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    transition: all ease .2s;
    border: 2px solid transparent
}

.welcome-section-inner button::hover {
    border-color: #070211;
    columns: black;
    background: transparent;
}

.welcome-section {
    /* width: 1320px;
    height: 600px; */
    flex-shrink: 0;
    margin: 200px;

}

.span-color {
    color: red;
}



.place-section {
    font-family: sans-serif;
    text-align: center;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 2px;
    margin: 30px;

    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 10px 15px 10px;
    padding: 20px;
    margin-bottom: 20px;

}


.place-section p {
    margin-bottom: 15px;
}

.place-section button {
    background-color: red;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




.offer-section {
    margin: 0px;
    padding: 15px;
    box-sizing: border-box;

    width: 1600px;
    height: auto;
}


.offer-main-section {
    display: flex;
}

.offer-left-section,
.right-section {
    flex: 1;
    padding: 20px;
}

.offer-middle-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.rounded-image {

    width: 463px;
    height: 463px;
    flex-shrink: 0;
    display: inline-block;
    border-radius: 463px;
    border: 15px solid #F00;
}



/* gift section */
.gift-section {
    text-align: left;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.image-wrapper {
    width: 30%;
    margin: 10px;
    position: relative;
}

.image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.image-wrapper:hover img {
    transform: scale(1.1);
}

/* newsletter section */

.newsletter-section {
    text-align: center;
    margin-top: 50px;


    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 20px;
}

.icon-wrapper {
    margin-bottom: 20px;
}

.icon-wrapper i {
    font-size: 48px;
    color: #333;
}

.newsletter-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.newsletter-section p {
    margin-bottom: 20px;
}

.newsletter-additional-text {
    font-size: 14px;
    color: #777;
}

.newsletter-section form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.newsletter-section form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.newsletter-section input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

section>.newsletter-section button {
    background-color: #333;
    color: #fff;

    cursor: pointer;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

/* Footer section styles */
footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: #FFF;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-address,
.footer-contact {
    margin-bottom: 10px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-icons img {
    margin: 0 10px;
}

hr {
    border-color: #ccc;
    margin: 10px 0;
}

.footer-contact img,
.footer-contact p {
    vertical-align: middle;
}

.footer-contact img {
    margin-right: 5px;

}





.footer-legal {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    padding: 120px 140px;

}

.footer-section button {
    background-color: #070211;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

hr {
    background: rgba(255, 255, 255, 0.15);
}