body {
    font-family: 'Merriweather', serif;
}

* {
    margin: 0;
    padding: 0;
    max-width: 1240px;
    margin: 0 auto;
}

/* Header section style */

.banner-section {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url('resources/banner\ Image.png');
    margin-top: 50px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-section-text {
    width: 100%;
    text-align: center;
    padding: 190px 0;
}

.banner-section-text p {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
}

.banner-section-text h2 {
    color: white;
    font-size: 72px;
}



/* Off section styles */
.off-section {
    margin-top: 100px;
    text-align: center;
    padding: 50px 0;
}

.off-section-img {
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    position: absolute;
}


.off-section h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    text-align: center;
}


.off-section p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.off-section h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

/* .welcome-section style */

.welcome-section {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url('resources/vectorrr.png');
    margin-top: 150px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome-section-content {
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: space-between;


}

.welcome-section-text {
    text-align: center left;
}

.welcome-section-text h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}

.welcome-section-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
}

.welcome-section-text a {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 65px;
}

.place-section {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 100%);
    width: 1320px;
    margin: 120px auto;
    border-radius: 11px;
    height: 450px;

}

.place-section-text {
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    padding: 170px 0px 60px 0px;

}

.place-section-batton {
    text-align: center;
}

.place-section-batton button {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;

    background-color: red;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
}

.add-color {
    color: #F00;
}

.offer-section {
    display: flex;
    height: 450px;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    gap: 120px;
}

.offer-section-left h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.offer-section-left h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.offer-section-left p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.offer-section-middle {
    border: 10px solid #FF0000;
    border-radius: 500px;
    padding: 16px;
    border: 15px solid #F00;

}

.off-section-right h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer-section-right p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0 20px 0;
    width: 200px;
}


/* gift section */
.gift-section {
    text-align: left;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.image-wrapper {
    width: 30%;
    margin: 10px;
    position: relative;
}

.image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.image-wrapper:hover img {
    transform: scale(1.1);
}

/* newsletter section */

.newsletter-section {
 
    margin: 150px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);

}

.icon-wrapper {
    margin-bottom: 20px;
}

.icon-wrapper i {
    font-size: 48px;
    color: #333;
}

.newsletter-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.newsletter-section p {
    margin-bottom: 20px;
}

.newsletter-additional-text {
    font-size: 14px;
    color: #777;
}


.input-field {
    margin-top: 20px;
    width: 80%;
    position: relative;
}

.input-field input {
    padding: 12px 20px;
    width: 80%;
    outline: none;
    border: none;
    border-radius: 50px 0 0 50px;
}

.input-field button {
    padding: 12px 20px;
    border-radius: 0 50px 50px 0;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    background: #FF0000;
    color: white;
}


/* Footer section styles */
footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: #FFF;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-address,
.footer-contact {
    margin-bottom: 10px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-icons img {
    margin: 0 10px;
}

hr {
    border-color: #ccc;
    margin: 10px 0;
}

.footer-contact img,
.footer-contact p {
    vertical-align: middle;
}
footer hr {
    background: rgba(10, 0, 0, 0.992);
}

.footer-contact img {
    margin-right: 5px;

}

.footer-legal {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    padding: 120px 140px;

}

.footer-section button {
    background-color: #070211;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}
